<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>NCP_Project</display-name>
  <welcome-file-list>
    <welcome-file>./index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Volunteer</servlet-name>
  	<servlet-class>volunteerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Volunteer</servlet-name>
  	<url-pattern>/volunteer</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Contact</servlet-name>
  	<servlet-class>contactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Contact</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Event</servlet-name>
  	<servlet-class>eventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Event</servlet-name>
  	<url-pattern>/event</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Donate</servlet-name>
  	<servlet-class>donateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Donate</servlet-name>
  	<url-pattern>/donate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RegisterEvent</servlet-name>
  	<servlet-class>regServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterEvent</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>